QMainWindow{
    background-color: #263238;
}
QMenuBar{
    background-color: #263238;
}
QMenu{
    background-color: #263238;
}
QStatusBar{
    background-color: #263238;
}
QToolBar{
    background-color: #263238;
}