QMainWindow{
    background-color: white;
}
QMenuBar{
    background-color: white;
}
QMenu{
    background-color: white;
}
QStatusBar{
    background-color: white;
}
QToolBar{
    background-color: white;
}